/* DESKTOP */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

#desktop {
	position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  color: #333533;

  .nav {
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    
    position: absolute;
    top: 0px;
    width: 100%;
    background: transparent;

    padding-bottom: 25px;

    .item {
      margin: 0 20px;
      font-family: 'Source Sans Pro', sans-serif  ;
      transition: all 0.1s;
      text-decoration: none;
      color: #333533;
      /* GIVE COLOUR PLS */

      &:hover { font-size: 1.2rem; }

      &.name {
        font-size: 2rem;
        flex: 1 100%;
      }
    }
  }

  .node {
    cursor: pointer;
  }

  svg {
    position: fixed;
  }
}

#mobile { display: none; }

/* MOBILE */
@media only screen and (max-width : 766px) {
  
  #desktop { display: none; }

  #mobile {
  	display: flex;
  	flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

  	position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    .mobile-item {
      margin: 1rem 0;

      &.name {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      &.contact {
        text-decoration: none;
      }

      &.description {
        padding-left: 0.5em;
        padding-right: 0.5em;
        text-align: center;
      }
    }
  }
}