/* DESKTOP */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

#desktop {
	position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  color: #333533;

  .node {
    cursor: pointer;
  }

  svg {
    position: fixed;
  }
}

#mobile { display: none; }

/* MOBILE */
@media only screen and (max-width : 766px) {
  
  #desktop { display: none; }

  #mobile {
  	display: flex;
  	flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

  	position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    img {
      margin-bottom: 3em;
    }

    .mobile-item {
      margin: 1rem 0;

      &.contact {
        text-decoration: none;
      }

      &.description {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
      }
    }
  }
}